@tailwind base;
@tailwind components;
@tailwind utilities;

.footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100px;
  padding: 0 $content-offset-width;
}

.footer__left,
.footer__right {
  display: flex;
  align-items: center;
  gap: 12px;
  font-size: 14px;
  font-weight: $weight-bold;
}

.footer__link {
  transition: $transition;
  opacity: 0.7;

  &:hover {
    opacity: 1;
  }
}

.footer__link--logo {
  margin-right: $base-size;
}

.footer__copy {
  margin-left: $base-size;
  opacity: 0.7;
}

// .footer__left {
//   display: flex;
//   align-items: center;
// }
