.ReactModal__Overlay {
  z-index: $modal-z100;
}

.modal-video {
  position: absolute;
  inset: 40px;
  border: 1px solid rgb(204, 204, 204);
  background: rgb(255, 255, 255);
  overflow: auto;
  border-radius: 4px;
  outline: none;
  max-width: $modal-width;
  margin: auto;
}

.modal-video__overlay {
  position: fixed;
  z-index: $modal-z100;
  inset: 0px;
  background-color: rgba(255, 255, 255, 0.75);
}

.modal-video__bg {
  filter: blur(45px);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 100%;
  width: 100%;
  position: absolute;
}

.modal-video__content {
  height: 100%;
  position: relative;
}

.modal-video__close {
  position: absolute;
  top: 20px;
  right: 20px;
  z-index: 1;
}

.modal-video__left {
  color: $white;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.modal-video__badge {
  border: 1px solid #fff;
  border-radius: 20px;
  display: flex;
  font-weight: $weight-bold;
  font-size: 16px;
  line-height: 22px;
  margin-right: 10px;
  padding: 0 10px;
  text-shadow: 0 2px 4px rgba(0, 0, 0, .706);
}

.modal-video__csfd-rating {
  display: flex;
  align-items: center;
  padding: 8px 16px;
  gap: 8px;
  font-weight: $weight-bold;
  font-size: 12px;
  z-index: $slide-rating-z1;
}

.modal-video__title {
  font-size: 40px;
  font-weight: $weight-bold;
  text-shadow: 0 4px 4px rgba(0, 0, 0, .25);
}

.modal-video__description {
  font-size: 16px;
}

.modal-video__description-more {
  font-size: 16px;
  color: $secondary;
}

.modal-video__genre {
  opacity: .7;
  font-size: 16px;
}

.modal-video__genre-item {
  display: inline-block;
  margin-right: 10px;
  padding-right: 14px;
  position: relative;
  white-space: nowrap;

  &:not(:last-child)::before {
    background-color: #fff;
    border-radius: 50%;
    content: "";
    display: inline-block;
    height: 4px;
    position: absolute;
    right: 0;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    width: 4px;
  }
}

.modal-video__right {
  flex-shrink: 0;
}
