// colors
$primary: #262673;
$secondary: #0090D0;
$white: white;
$dark: #000033;

$transition: all ease 150ms;

// sizes
$base-size: 20px;
$header-height: 85px;
$channel-height: 80px;
$channel-left-offset: 150px;
$timeline-height: 60px;
$hour-length: 300px;
$modal-width: 850px;

$slide-title-height: 45px;
$content-offset-width: 60px;

// typography
$weight-bold: bold;

// z-index
$modal-z100: 100;
$header-z11: 11;
$timeline-z5: 5;
$channel-z2: 2;
$swiper-hover-z2: 2;
$swiper-hover-before-z1: 1;
$slide-rating-z1: 1;
