// colors
$primary: #262673;
$secondary: #0090D0;
$white: white;
$dark: #000033;

$transition: all ease 150ms;

// sizes
$base-size: 20px;
$header-height: 85px;
$channel-height: 80px;
$timeline-height: 60px;
$hour-length: 300px;

$slide-title-height: 45px;
$content-offset-width: 60px;

// typography
$weight-bold: bold;
