@tailwind base;
@tailwind components;
@tailwind utilities;

@import 'variables';
@import 'header';
@import 'loading';
@import 'page-program';
@import 'timeline';
@import 'channel-list';
@import 'videoteka';

:root {}

html {
  font-family: 'Open Sans', sans-serif;
  font-size: 20px;
  color: $white;
}

body {
  max-width: 100%;
  background: $dark;
  height: 2000px;
}

.main {
  padding-top: $header-height;
}

.bg-primary {
  background-color: $primary;
}

.bg-dark {
  background-color: $dark;
}

.button-active {
  color: $secondary;
}
