@tailwind base;
@tailwind components;
@tailwind utilities;

@import 'variables';
@import 'header';
@import 'footer';
@import 'button';
@import 'home';
@import 'loading';
@import 'timeline';
@import 'channel-list';
@import 'videoteque';

:root {}

html {
  font-family: 'Open Sans', sans-serif;
  font-size: 20px;
  color: $white;
}

body {
  max-width: 100%;
  background: $dark;
}

.bg-primary {
  background-color: $primary;
}

.bg-dark {
  background-color: $dark;
}

.button-active {
  color: $secondary;
}
